name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: install just
        uses: rezi-labs/install-just@main

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: SilenLoc
          password: ${{ secrets.GLOBAL_GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          just push
        shell: bash

      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GLOBAL_GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.ref_name }} --title "Release ${{ github.ref_name }}" --notes "Docker image: ghcr.io/rezi-labs/wide:$(just get_version)"
